langchain==0.3.30
langchain-community==0.3.31
langchain-google-genai==2.1.12
langchain-experimental==0.3.4
langchainhub==0.1.21
google-generativeai==0.8.6
faiss-cpu==1.8.0
pypdf==4.3.1
python-dotenv==1.0.1
streamlit==1.38.0
duckduckgo-search
redis
rq
filelock
